/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Common
# Home with main menu(nav)
# service 
# walk talk & sells
# Why choose Oue service
# Blogs & article (card is simmilar to service)
# Our happy client
# contact us
# footer
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/


:root {
  --thm-font: 'Quicksand', sans-serif;
  --thm-primary: #421983;
  --thm-secondary: #FE8E4E;
  --thm-black: #1C053F;
  --thm-light: #FAF7FE;
  --white: #ffff;
}

body {
  font-family: var(--thm-font);
  color: #737789;
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: hidden;
}
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.thm-btn{
  background-color: var(--thm-primary);
  color: var(--white);
  padding: 8px 20px;
  border: none;
  font-size: 16px;
}

.thm-btn:hover{
  background-color: #FF622D;
  color: var(--white);
}
p{
  line-height: 1.3em;
  font-size: 16px;
}
.title_span{
  color: var(--thm-secondary);
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}



/*--------------------------------------------------------------
# Home with main menu(nav)
--------------------------------------------------------------*/

/* home */
.home{
  width: 100vw;
  height: fit-content;
  background: url('../img/home-bg.png');
  position: relative;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

}
@media(min-width: 1250px) {
  .home {
    height: 750px;
  }
}
@media(min-width: 1450px) {
  .home {
    /* height: 850px; */
  }
}
@media(max-width: 500px){
    .home{
      background-position: 85% 85%;
    }
  }


/* navbar */
.logo{
  height: auto;
  width: 250px;
  /* margin-left: 80px; */
}
@media(max-width: 500px) {
  .logo {
    width: 180px;
    margin: auto;
  }
}

nav .list-items{
  display: flex;
  margin: 0 auto;
  
}

nav li a{
  font-size: var(--thm-font);
  color: var(--thm-primary) !important;
  margin: 0 15px;
}
nav li a:hover{
  color: var(--thm-secondary) !important;
}

.hero{
  margin-top: 50px;
  overflow-x: hidden;
}

.hero-info h1{
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}


.hero_img{
  width: 80%;
  max-width: 500px;
  display: flex;
  margin:  0 auto;
  height: 80%;
  max-height: 600px;
  margin-top: 50px;
  border-radius: 5px;
}

.hero-info{
  width: 50%;
  margin: auto;
}


@media(max-width: 500px) {
  .hero{
    margin-top: 0px !important;
  }
}

@media(max-width: 768px) {
  .hero-info h1 {
    /* width: 85%; */
    font-size: 2.3rem !important;
  }
}



/*--------------------------------------------------------------
Service  & ( blog and service card )
--------------------------------------------------------------*/
.service_banner{
  width: 100vw;
  height: 300px;
  margin: auto;
  /* margin-top: 100px; */
}
.service .container{
  width: 80%;
  margin: auto;
}

@media(max-width: 1000px) {
  .service {
    margin-top: 50px;
  }
  .service .container{
    width: 100%;
    margin: auto;
  }
  .service_card{
    /* width: 200px !important; */
    margin: auto; 
  }
}
.service h1{
  margin-top: -200px;
  margin-bottom: 80px;
}
.service_img{
  width: 60px;
  height: auto;
}
.service_card{
  background-color: var(--thm-light);
  padding:  30px 20px;
  border: 2px solid var(--thm-black);
  box-shadow: 8px 8px 22px rgba(0, 0, 0, 0.193);
  border-radius: 15px;
  width: 90%;
  margin: auto;
  max-width: 300px;
}

/*--------------------------------------------------------------
walk talk & sells
--------------------------------------------------------------*/

.sells{
  background: url("../img/sells-banner.svg");
  margin-top: 130px;
  padding: 50px;
  margin-bottom: 200px;
  width: 100vw;
  height: fit-content;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.secondary-btn{
  background-color: var(--thm-secondary) !important;
}

.secondary-btn:hover{
  background-color: var(--white) !important;
  border: 1px solid var(--thm-secondary);
  color: var(--thm-secondary) !important;
}

.sells_img{
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: auto;
  max-height: 500px;

  
}
@media(max-width: 820px){
  .sells_img{
    margin-top: 100px !important;
  }
}

/*--------------------------------------------------------------
why choose our service
--------------------------------------------------------------*/
.highlights{
  margin-top: -100px;
  background-image: linear-gradient(to right,#fff , #FAF7FE, #FAF7FE);
  /* background-color: var(--thm-light); */
}

.highlights .container{
  width: 100%;
  margin: auto;
}

.service_illustrator{
  width: 90%;
  margin: auto;
  height: auto;
  max-width: 600px;
  max-height:600px;
}

.highlights_icon{
  width: 40px;
  height: 40px;
}

.highlights_info{
  width: 50%;
  margin: auto;
  /* background-color: var(--thm-light); */
}

.highlights_info .col-sm-6{
  border-left: 2px solid var(--thm-primary);
} 

@media(max-width: 820px) {
  .highlights_info {
    width: 100%;
    margin: auto;
  }
  .highlights{
    width: 100%;
    margin: auto;
    margin-top: -120px;
  }
  .highlights p{
      font-size: 14px !important;
    }
  .service_illustrator{
    width: 70vw;
    margin: auto;
    text-align: center;
    margin-top: -100px !important;
  }
}

@media(max-width: 500px){
  .highlights{
    margin-top: -200px !important;
    margin:  0 auto;
    display: flex;
  }
  .service_illustrator{
    min-width: 70vw;
    width: 100%;
  }
  .highlights_info{
  margin: auto;
}
  .highlights_info h1{
    text-align: center;
  }
} 

.highlight_service{
  width: 80%;
  margin: auto;
}


/* blogs & articles */
.blogs-article{
  margin-top: 100px;
}
.blog_btn{
 color: var(--thm-black); 
}

/*--------------------------------------------------------------
Our happy client
--------------------------------------------------------------*/

.happy_clients{
  background-color: var(--thm-light);
  width: 100vw;
  margin-top: 150px;
}
.happy_clients img{
  width: 100%;
  margin: auto;
}

/* contact us */
/*--------------------------------------------------------------
Contact Us
--------------------------------------------------------------*/
.contact input,
textarea {
  border: 1px solid var(--thm-secondary);
  background-color: transparent;
  padding: 6px;
  width: 100%;
}

.contact a{
  color: var(--white);
}


.contact-here {
  display: flex;
  width: 100%;
  margin: auto;
  color: white;
  margin-top: 18px;
}

.contact span {
  padding: 0px 20px;
  color: var(--thm-secondary);
  padding-top: 6px;
}

.contact p {
  padding-top: 10px;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer{
  margin-top: -170px;
  width: 100vw;
}
footer hr{
  border: 1px solid var(--thm-primary);
  opacity: 0.9;
}
footer p{
  color: var(--thm-primary);
}
.social-media img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

footer li{
  list-style: none;
  color: var(--thm-primary);
  font-weight: 700;
  margin-top: 10px;
  
}
.footer_img{
  width: 120px;
  height: 70px;
  float: right;
  margin-top: -5%;
}
footer input{
  border: 1px solid var(--thm-primary);
  padding: 8px 12px;
}
.subscribe{
  color: var(--thm-black) !important;
  border-radius: 0 !important;
  padding: 9px 20px !important;
  background-color: #FF622D !important;
}

.footer_li{
  color: var(--thm-primary) !important;
}

ul{
    padding-left: 0 !important;
  }

@media(max-width: 820px){
  footer li{
    font-size: 16px;
  }
  
}